{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
{% load static %}
<link rel="stylesheet" href="{%  static 'style.css' %}">
<body>
<h1>  Welcome to the Stocks Website  </h1>
<img src="{% static 'maxresdefault.jpg' %}" alt="stonk" style="width:600px;height:300px">
<br><br>
<a href="query_results">Query Results</a><br><br>
<a href="add_transaction">Add Transaction</a><br><br>
<a href="buying">Buy Stocks</a><br><br>
</body>
</html>